{%load static%}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>OnlyList</title>
    <h1>OnlyList</h1>
    <!--Boostrap 4-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type = "text/css" href="{% static 'onlylist/estil.css'%}" >
  </head>
  <body>
	<div id="contenidorMenu">
		<ul>
		  <li class="nav-item">
			<a class="nav-link" href="index.html">Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link active" href="contenido.html?about=Series">Series</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="contenido.html?about=Movies">Movies</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="contenido.html?about=Books">Books</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="contenido.html?about=Anime">Anime</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="profile.html">Perfil</a>
			</li>
		</ul>
	</div>
	<div id="contenidoPrincipal">
		<h2>List of Series</h2>
		<a type="button" class="btn btn-default" aria-label="Left Align" style="margin-bottom:10px;" href="new.html?new=Series">
			<img src="{% static 'onlylist/images/add.png'%}" height="50" width="60"/>Add New
		</a>
		<table>
			<tr>
				<td>
					<a href="#">
					<img style="align:right" src="{% static 'onlylist/images/noimg.jpg'%}" height="100" width="100"/></br>
					NombreSerie</a>
				</td>
				<td>
					<a href="#">
					<img style="align:right" src="{% static 'onlylist/images/noimg.jpg'%}" height="100" width="100"/></br>
					NombreSerie</a>
				</td>
				<td>
					<a href="#">
					<img style="align:right" src="{% static 'onlylist/images/noimg.jpg'%}" height="100" width="100"/></br>
					NombreSerie</a>
				</td>
				<td>
					<a href="#">
					<img style="align:right" src="{% static 'onlylist/images/noimg.jpg'%}" height="100" width="100"/></br>
					NombreSerie</a>
				</td>
				<td>
					<a href="#">
					<img style="align:right" src="{% static 'onlylist/images/noimg.jpg'%}" height="100" width="100"/></br>
					NombreSerie</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="#">
					<img style="align:right" src="{% static 'onlylist/images/noimg.jpg'%}" height="100" width="100"/></br>
					NombreSerie</a>
				</td>
				<td>
					<a href="#">
					<img src="{% static 'onlylist/images/noimg.jpg'%}" height="100" width="100"/></br>
					NombreSerie</a>
				</td>
				<td>
					<a href="#">
					<img src="{% static 'onlylist/images/noimg.jpg'%}" height="100" width="100"/></br>
					NombreSerie</a>
				</td>
				<td>
					<a href="#">
					<img style="align:right" src="{% static 'onlylist/images/noimg.jpg'%}" height="100" width="100"/></br>
					NombreSerie</a>
				</td>
				<td>
					<a href="#">
					<img style="align:right" src="{% static 'onlylist/images/noimg.jpg'%}" height="100" width="100"/></br>
					NombreSerie</a>
				</td>
			</tr>
		</table>

	</div>
  </body>
</html>
